# Unity
[Llave y metadatos]
*.csproj
*.unityproj
*.sln

# Unity artefactos
Library/
Temp/
#Obj/
#Build/
Builds/
DevBuild/
MemoryCaptures/
UserSettings/
#Logs/

# Paquetes y caches
Packages/com.unity.collab-proxy/
# OS
.DS_Store
Thumbs.db

# Visual Studio, Rider, VSCode
.vscode/
.idea/
*.suo
*.user
*.userprefs
d o c s / B u i l d /  
Assets/Art/Tilesets/Pasado/Pasillos/Pasillo 1 - biblioteca-observatorio.svg
Assets/Art/Tilesets/Pasado/Subsuelo/Subsuelo 2.svg
Assets/Art/Tilesets/Pasado/Subsuelo/Subsuelo 1.svg
docs
Logs
UserSettings
WinBuild
Vigil-WinBuild-20250924.zip
*.meta
