# Unity
[Llave y metadatos]
*.csproj
*.unityproj
*.sln

# Unity artefactos
Library/
Temp/
#Obj/
#Build/
Builds/
MemoryCaptures/
UserSettings/
#Logs/

# Paquetes y caches
Packages/com.unity.collab-proxy/
# OS
.DS_Store
Thumbs.db

# Visual Studio, Rider, VSCode
.vscode/
.idea/
*.suo
*.user
*.userprefs
